/* 全局样式定义 */
html {
    scroll-behavior: smooth;
}

*,
:after,
:before {
    box-sizing: border-box;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

ol,
ul {
    list-style: none;
    padding: 0;
}

li {
    display: list-item;
}

a {
    text-decoration: none;
    text-align: center;
    width: 100%;
    cursor: pointer;
    padding: .5rem;
}

/* prism */
.toolbar-item {
    display: inline-block !important;
    margin-right: 1em !important;
    color: red !important;
}

pre[class*="language-"] {
    color: red !important;
    padding: 1.5em !important;
}

.container {
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* header样式定义 */
#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid rgb(180, 175, 175);
    z-index: 1000;
}

#header-title {
    width: 20%;
    color: black;
}

#header-nav {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header-nav a:hover {
    background-color: rgb(235, 131, 171);
    border-radius: 0.2rem;
    color: rgb(214, 53, 53);
}

#header-btns {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-btns li a {
    margin: 5px;
}

#theme-btn {
    font-size: 1.25em;
}

/* 主页内容样式定义 */
#home-content {
    width: 80%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 30px;
}

.grid {
    /* position: relative;
    background-size: 21px 21px;
    background-position: center center;
    background-image: radial-gradient(circle, #909399 2px, #fff 2px);
    -webkit-mask-image:
        linear-gradient(to bottom, transparent, #fff 52px calc(100% - 52px), transparent),
        linear-gradient(to right, transparent, #fff 52px calc(100% - 52px), transparent);
    mask-image:
        linear-gradient(to bottom, transparent, #fff 52px calc(100% - 52px), transparent),
        linear-gradient(to right, transparent, #fff 52px calc(100% - 52px), transparent);
    mask-composite: intersect;
    -webkit-mask-composite: source-in, xor; */
}

#profile {
    flex-grow: 1;
    flex-shrink:0;
    width: 50%;
    height: 20%;
    margin-top: 0.5em;
    margin: 0.5em auto 0 auto;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, #4cd964, #5ac8fa);
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 60px;
    padding-bottom: 10px;
    margin: 0 auto;
}

#profile h3,
#profile p {
    margin: 10px 0;
}

/* category选项 */
.category-tabs-container {
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    width: 60%;
    height: 20%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-tabs {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    /* 使用 Flexbox 布局 */
    justify-content: center;
    /* 水平居中 */
    align-items: center;
    /* 垂直居中 */
    margin-top: 20px;
    /* 增加顶部外边距 */
}

.category-tab {
    padding: 10px 20px;
    cursor: pointer;
    flex-shrink: 0;
    /* 防止收缩 */
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
    /* 设置圆角半径 */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2),
}

.category-tab.active {
    color: #007bff;
    font-weight: bold;
    background-color: white;
    border-top: 2px solid #007bff;
}

.tab-content {
    display: none;
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
}

.tab-content.active {
    display: block;
}



.category-tabs {
    display: flex;
    padding: 10px;
    transition: transform 0.3s ease;
}

.category-tab {
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    margin-right: 10px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}

/* 文章列表 */
.post-lists-container{
    flex-grow: 1;
    flex-shrink: 0;
}

.post-list {
    width: 50%;
    height: 50%;
    margin: 1em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow-y: auto;
}

.post-list li:nth-child(odd) {
    background-color: #f2f2f5;
}

.post-item {
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    justify-content: space-between;
    align-items: center;
}

/* footer样式定义 */
footer {
    width: 100%;
    height: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-top: 1px solid rgb(180, 175, 175);
}

/* archive */
.archive-container{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}


/* 响应式 */
@media (max-width: 480px) {
    #header {
        height: 8%;
        flex-wrap: wrap;
    }

    #header-title {
        display: none;
    }

    #header-nav {
        width: 100%;
    }

    #header-btns {
        display: none;
        width: 10%;
    }

    #home-content {
        width: 95%;
        margin-top: 15%;
    }

    #profile {
        width: 95%;
    }

    .profile-pic {
        width: 50px;
        height: 50px;
    }

    .category-tabs-container {
        font-size: 0.5em;
    }

    .category-tabs {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .category-tab {
        margin-right: 3px;
        padding: 8px 15px;
    }

    .post-list {
        font-size: 0.5em;
        width: 95%;
    }

    .post-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .post-time {
        margin-top: 5px;
    }

    footer {
        font-size: 0.5em;
    }
}