* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Lato","proxima-nova","Helvetica Neue",Arial,sans-serif;
}

.my_body {
	overflow-x: hidden;
	/* background: #edf0f2; */
}
 
.contain {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* 侧边栏相关内容 */

.aside {
	width: 85%;
	left: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	padding-bottom: 2em;
	width: 300px;
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 100%;
	background: #343131;
	z-index: 200;
}

.aside_header {
	display: block;
	width: 300px;
	z-index: 200;
	background-color: #2980B9;
	text-align: center;
	padding: .809em;
	display: block;
	color: #fcfcfc;
	margin-bottom: .809em;
}

.aside_header>a {
	color: #fcfcfc;
	font-size: 100%;
	font-weight: bold;
	display: inline-block;
	padding: 4px 6px;
	margin-bottom: .809em;
}

.aside_header input[type=text] {
	width: 100%;
	border-radius: 50px;
	padding: 6px 12px;
	border-color: #2472a4;
}

.blog_head{
	width: 120px;
    height: 120px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
	border-radius: 60px;
	padding-bottom: 10px;
}

.aside_scolelr {
	width: 320px;
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	height: 100%;
}

.main {
	margin-left: 320px;
	background: #fcfcfc;
	min-height: 100%;
}

.aside_footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 300px;
	color: #fcfcfc;
	background: #1f1d1d;
	font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
	z-index: 400;
}

ul,
ol,
dl {
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-image: none;
}

li {
	display: list-item;
	text-align: -webkit-match-parent;
}

.asie_list a {
	/* display: inline-block; */
	line-height: 18px;
	padding: .4045em 1.618em;
	display: block;
	position: relative;
	font-size: 90%;
	color: #b3b3b3;
}

.aside_category:before{
	content:"田"
}

.aside_category{
	color:#4e4a4a;
	cursor: pointer;
}

.aside_category:hover{
	background-color: #b3b3b3;
}

.aside_category > ul{
	display: none;
}
.aside_category > ul>li{
	display: none;
}
.aside_category > ul>li>a{
	display: none;
}
/* .aside_title{
	color:white;
	display: none;
	cursor: pointer;
	position: relative;
}

.aside_category:active .aside_title{
	color:white;
	display: block;
} */

.pc_show {
	display: none;
}

.header{
	display:none;
}

/* 文章相关 */
.content_main{
	width: 90%;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1x 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.content_head{
	border-bottom:4px solid darkred;
}

.author{
	font-size: small;
}

a{
	text-decoration:none;
}

a:hover{
	text-decoration:none;
	color: red;
}



/* 适应小屏幕 */
@media screen and (max-width: 768px) {
	.aside {
		display: none;
		width: 85%;
		left: 0;
	}

	.main {
		margin-left: 0px;
		background: #fcfcfc;
		min-height: 100%;
	}

	.aside_footer {
		display: none;
	}

	.mobile_hide {
		display: none;
	}

	.mobile_show {
		display: block;
	}

	.header{
		display:block;
		background: #2980B9;
		color: #fff;
		position: relative;
		line-height: 50px;
		text-align: center;
		font-size: 100%;
		*zoom: 1;
	}

	.header a{
		color: white;
		font-weight: bold;
	}

	.header-left-icon{
		position: absolute;
		top:5px;
		left:5px;
		cursor:pointer;
	}

	.header-right-icon{
		position: absolute;
		top:5px;
		right:20px;
		cursor:pointer;
	}

	.header-right-icon:checked .aside{
		display: block;
	}
}