<div class="aside">
	<div class="aside_scolelr">
				<div class="aside_header">
					<a href="https://killalivefish.github.io">HuBo Blog</a>
					<div role="search">
						<form class="aside_search">
							<input type="text" name="q" placeholder="Search docs">
						</form>
					</div>
				</div>
				<div class="asie_list">
					<ul>
						{% for category in site.categories %}
						  <li>{{ category[0] }}</li>
						  <ul>
							{% for post in category[1] %}
							  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
							{% endfor %}
						  </ul>
						{% endfor %}
					</ul>
				</div>
	</div>
</div>