<div class="aside">
	<div class="aside_scolelr">
		<div class="aside_header">
			{% include icon-home-filling.svg %}
			<a href="https://killalivefish.github.io">HuBo Blog</a>
			<p>{{% site.static_files %}}</p>
			<div clss="blog_head">
				<img class="blog_head" src="/img/mingren2.jpg">
			</div>
		</div>
		<div class="asie_list">
			<ul>
				{% for category in site.categories %}
				<li>
					<a class="aside_category" href="#">{{ category[0] }}</a>
					<ul class="inner_category">
						{% for post in category[1] %}
						<li><a class="aside_title" href="{{ post.url }}">{{ post.title }}</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>