{% if include.html %}
<nav class="table-of-contents">
    <ul>
        {% assign headings = include.html | split: '<h2' %}
        {% for heading in headings offset:1 %}
            {% assign depth = 2 %}
            {% assign id = heading | split: 'id="' %}
            {% assign id = id[1] | split: '"' | first %}
            {% assign text = heading | split: '>' | last | split: '</h2>' | first %}
            <li>
                <a href="#{{ id }}">{{ text }}</a>
                {% assign subheadings = heading | split: '<h3' %}
                {% if subheadings.size > 1 %}
                    <ul>
                        {% for subheading in subheadings offset:1 %}
                            {% assign subid = subheading | split: 'id="' %}
                            {% assign subid = subid[1] | split: '"' | first %}
                            {% assign subtext = subheading | split: '>' | last | split: '</h3>' | first %}
                            <li>
                                <a href="#{{ subid }}">{{ subtext }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}