<style>
    #breadbcrumb {
        position: fixed;
        top: 80px;
        left: 0px;
        width: 100%;
        padding: 0.5em;
        background-color: #e2e2e2;
        border-bottom: 1px solid rgb(180, 175, 175);
        color: #2c2c2c;
        z-index: 10000;
    }

    #article-wapper {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }

    .article-container {
        width: 100%;
        max-width: 1600px;
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
        margin: 1em auto 1em auto;
    }

    .article {
        width: 60%;
        margin-left: 15%;
        border-left: 2px solid #ccc;
        padding-left: 20px;
    }

    .article-title {
        text-align: center;
        color: #1b1b1b;
    }

    .article-aside {
        position: fixed;
        top: 0;
        right: 0;
        width: 20%;
        overflow-y: auto;
        margin-top: 8%;
        padding: 10px;
        border-left: 1px solid #ccc;
        font-size: 0.5em;
    }

    /* 文章样式 */
    .article-content img {
        max-width: 800px;
        max-height: 600px;
        display: block;
        margin: 0 auto;
    }

    @media (max-width: 480px) {
        #breadbcrumb {
            top: 12%;
            font-size: 0.5em;
        }

        .article-content img {
            margin: 10px 0;
            max-width: 400px;
            max-height: 300px;
        }

        .article {
            width: 100%;
            margin-top: 5%;
            margin-left: 1%;
            font-size: 0.5em;
        }

        .article-aside {
            display: none;
        }
    }
</style>

{% include head.html %}
{% include header.html %}
<div class="container">
    <div id="breadbcrumb">{{ page.categories }} <span class="bread-arrow">></span> {{ page.title }}</div>
    <div id="article-wapper">
        <div class="article-container">
            <article class="article">
                <h1 class="article-title">{{ page.title }}</h1>
                <div class="article-content">
                    {{ page.content }}
                </div>
            </article>
            <aside class="article-aside">
                <p>本文目录</p>
            </aside>
        </div>
        <div class="article-foot">
        </div>
        {% include footer.html %}
    </div>
</div>

<script>
    console.log("this is article!");

    document.addEventListener("DOMContentLoaded", function () {
        const content = document.querySelector('.article-content');
        const aside = document.getElementsByTagName('aside');
        if (!aside || aside.length != 1) {
            console.error("article not found!");
            return;
        }
        const headings = content.querySelectorAll('h1, h2, h3, h4, h5, h6');
        const toc = document.createElement('div');
        toc.className = 'table-of-contents';
        const tocList = document.createElement('ul');

        headings.forEach(heading => {
            const link = document.createElement('a');
            link.href = `#${heading.id}`;
            link.textContent = heading.textContent;

            const listItem = document.createElement('li');
            listItem.style.marginLeft = `${(parseInt(heading.tagName[1]) - 1) * 20}px`; // 根据标题级别缩进
            listItem.appendChild(link);
            tocList.appendChild(listItem);
        });

        toc.appendChild(tocList);
        aside[0].appendChild(tocList);
    });

    // const windowHeight = window.innerHeight;

    // document.addEventListener("DOMContentLoaded", function () {
    //     const article = document.querySelector('.article');
    //     const articleContent = document.querySelector('.article-content');
    //     const articleHeight = articleContent.scrollHeight;

    //     function updateBorderHeight() {
    //         const scrollTop = window.scrollY;
    //         const articleTop = article.getBoundingClientRect().top;
    //         const articleBottom = article.getBoundingClientRect().bottom;

    //         if (articleTop <= windowHeight && articleBottom >= 0) {
    //             const visibleHeight = Math.min(windowHeight - articleTop, articleBottom);
    //             const borderHeight = (visibleHeight / windowHeight) * articleHeight;
    //             article.style.setProperty('--border-height', `${borderHeight}px`);
    //         } else {
    //             article.style.setProperty('--border-height', '0px');
    //         }
    //     }

    //     window.addEventListener('scroll', updateBorderHeight);
    //     window.addEventListener('resize', updateBorderHeight);
    //     updateBorderHeight(); // 初始化边框高度
    // });

</script>