{% include head.html %}
{% include header.html %}
<div>
  <!-- {% assign posts_by_time = site.posts | group_by_exp: "post", "post.date" %} -->

  <!-- 文章列表 -->
  <ul class="time-line-list">
    {% for post_item in site.posts %}
    <li class="time-line-item" >
      <a href="{{ post_item.url }}" class="time-line-link">
        {{ post_item.title }}
       
      </a>
      <time class="time-line-time">({{ post_item.date | date: "%Y-%m-%d" }})</time>
    </li>
    {% endfor %}
  </ul>
</div>
{% include footer.html %}